__pycache__
*.py[cod]
*$py.class
*.session
*.session-journal
.env
.venv
venv
.pytest_cache
.git
.gitignore
.dockerignore
*.log
streambot.log*
test.py
test2.py
.idea
.vscode
.DS_Store
frontend/node_modules
frontend/.vite
main/server/static/app
outputs
tests
